# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

Data Science Tools
1. JupyterLab
2. Rstudio
3. Github

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [10]:
num1 = 3
num2 = 4
num3 = 5
product = (num1*num2)+num3
print(f"The output is : {product}")

The output is : 17

 This will convert 200 minutes to hours by diving by 60

In [11]:
num1 = 200
product = num1/60
print(f"The output is : {product}")

The output is : 3.3333333333333335

**Objectives:**
List popular languages for Data Science
- Python
- R
- SQL
Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- Matplotlib
Data Science Tools
- JupyterLab
- Rstudio
- Github

## Author
AVINASH MENKUDLE